/* What we do section */
.what-we-do {
  padding: 50px 0;
  text-align: center;
}

.what-we-do .container {
  height: auto;
}

.what-we-do h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.what-we-do .description {
  font-size: 16px;
  margin-bottom: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.service {
  text-align: center;
  margin: 20px;
  max-width: 200px;
}

.service .icon {
  width: 40px;
  height: 40px;
  fill: var(--accent-color);
  margin-bottom: 20px;
}

.service h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service p {
  font-size: 14px;
  color: #555;
}

@media (max-width: 1400px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .what-we-do h2 {
    font-size: 28px;
  }

  .what-we-do .description {
    font-size: 14px;
  }

  .service .icon {
    width: 36px;
    height: 36px;
  }

  .service h3 {
    font-size: 16px;
  }

  .service p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .service .icon {
    width: 32px;
    height: 32px;
  }

  .what-we-do h2 {
    font-size: 24px;
  }

  .what-we-do .description {
    font-size: 12px;
  }

  .service h3 {
    font-size: 14px;
  }

  .service p {
    font-size: 10px;
  }
}
