/* Footer Section */
.footer {
  background-color: #0a0e27;
  padding: 20px 0;
  color: white;
  position: relative;
  height: 249px;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 100px 50px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 150px;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.footer p {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
}

/* Header Section */
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .our-results {
    padding: 50px 0;
    text-align: center;
    color: white;
    background-image: url(images/headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
    height: 840px;
  }

  .header-content {
    justify-content: space-between;
    padding: 10px;
  }

  .nav ul {
    flex-direction: row;
    gap: 10px;
  }

  .logo img {
    height: 50px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto; /* Align the nav-links to the right */
  }

  .nav-links li {
    margin-left: 20px; /* Add space between the links */
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .social-media {
    margin-bottom: 10px;
  }

  .footer p {
    position: relative;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    width: 100px;
  }

  .social-media img {
    width: 18px;
    height: 18px;
  }

  .footer p {
    font-size: 12px;
  }

  .our-results {
    text-align: center;
    color: white;
    background-image: url(images/headphones_hero_2.jpg);
    background-size: cover;
    height: 1400px;
    padding: 50px 0px;
    background-position: center center;
  }
}
