/* Footer Section */
.footer {
  background-color: #0a0e27;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.footer p {
  margin-top: 20px;
  font-size: 14px;
}

/* Media Queries for Footer */
@media (max-width: 768px) {
  .footer-logo {
    width: 80%;
    margin-bottom: 10px;
  }

  .social-media img {
    width: 20px;
    height: 20px;
  }

  .footer p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 70%;
    margin-bottom: 5px;
  }

  .social-media img {
    width: 18px;
    height: 18px;
  }

  .footer p {
    font-size: 10px;
  }
}
